body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
}

header h1 {
    color: red;
}

.steam-btn {
    background: #1b2838;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.steam-btn:hover {
    background: #171a21;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.server-box {
    margin-top: 20px;
    background: #1c1c1c;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 40px;
}
